.psAboutInfo{display: flex; gap: 3.37em;}
.psAboutDesk > p{font-size: var(--body); font-family: var(--Satoshi-font); line-height: 2.12; color: var(--primary-Txt-color);}
.psAboutDesk > p:not(:last-child) { margin-bottom: 3em; }
.psAboutDesk > ul{list-style-type: disc; font-size: var(--body); font-family: var(--Satoshi-Medium-font); line-height: 2.12; color: var(--primary-Txt-color); margin-bottom: 3em; padding-left: 4.5em;}
.psAboutImg{max-width: 558px; width: 100%;}
.psAboutImg1{max-width: 389px;}
.psAboutImg2{max-width: 307px; position: absolute; right: 0; top: 25%;}

.psOurVision{padding-top: 0; padding-bottom: var(--secGap);}
.psOurVisionMission{padding-bottom: var(--secGap);}
.psVisionInfo > img{max-width: 80%;} 
.psOurVisionMission .psVisionInfo > img{float: right;}
.psVisionTxt {background:#fff;padding: 2.5em;margin-top:-20em;float:right;max-width:60%;}
.psOurVisionMission .psVisionTxt {float:left;}
.psVisionTxt > p {font-size: var(--body); font-family: var(--Satoshi-font); line-height: 2.12; color: var(--primary-Txt-color);}

.psCarsContent:not(:last-of-type) { margin-bottom: 9em; }
.psVisionTitle{margin-bottom:1.8125em;}
.psCarsContent{display: flex; column-gap: 3.37em;}
.psCarsContent:nth-of-type(even) { flex-direction: row-reverse; }
.psCarsTxt > p {font-size: var(--body); font-family: var(--Satoshi-font); line-height: 2; color: var(--primary-Txt-color);}
.psCarsTxt > p:not(:last-child),.psAboutDesk > p:not(:last-child){ margin-bottom: 2.36842em; }
.psCarImg{max-width: 562px;}

.psCareerInfo{padding: 0 3.4em;}
.psCareerTitle,.psAboutTitle{margin-bottom: 2.18em;}
.psCareerInfo > h4{font-size: calc(var(--sub-txt) + 2px); font-family: var(--Satoshi-Bold-font); line-height: 2.12; text-align: center;}
.psCareerInfo > p {font-size: var(--body); font-family: var(--Satoshi-font); line-height: 2.12; color: var(--primary-Txt-color); text-align: center;}
.careerjoinBtn{margin-top: 2.8em; display: flex; align-items: center; justify-content: center;}
.psCareerSlider{margin-top: 3.68em;}
.psCareerSlideBox button.slick-prev{background-image:url(../images/careerslidearrowleft.png) !important;left:auto;right:105%;}
.psCareerSlideBox button.slick-next{background-image:url(../images/careerslidearrowright.png) !important;right:auto;left:105%;}
.psCareerSlideBox .slick-slide{margin:0 21px;}

.joinUsDetailBox{background-color: #fff;}
.postInfoHead{display: flex; justify-content: space-between;align-items: center; border-bottom: 1px solid rgba(0, 0, 0, 0.09); padding-bottom: 1.18em;}
.posHeading > h4{font-size: calc(var(--sub-txt) - 3px); font-family: var(--Satoshi-Bold-font); margin-bottom: 1.8em;}
.posHeading > ul{display: flex; gap: 3em; margin-bottom: 1.25em;flex-flow: row wrap;}
.posHeading > ul > li{font-size: calc(var(--body-sub) - 1px); font-family: var(--Satoshi-Bold-font); color: var(--Tertiary-Txt-color); background: #E7EBF1; padding: 0.3em 0.5em; border-radius: 4px;}
.posHeading > p{font-size: var(--body-sub); line-height: 1.37; font-family: var(--Satoshi-Medium-font); color: var(--Tertiary-Txt-color);}
.posHeading > p > span{font-family: var(--Satoshi-Bold-font);}
.postApplyBtn > a{width: max-content;}
.postDetailBox{padding: 1.5em;}
.postDetailBox > p{font-size: calc(var(--body-sub) - 1px); font-family: var(--Satoshi-font); color: var(--Tertiary-Txt-color); line-height: 1.5;}
.postDetailBox > p:first-child{margin-bottom: 1.7em;}
.psPostBlog:not(:last-child){margin-bottom: 1.8em;}
.psPostBlog > h4{font-size: calc(var(--body-sub) + 1px); font-family: var(--Satoshi-Bold-font); line-height: 1.3; margin-bottom: 5px;}
.psPostBlog > p{font-size: calc(var(--body-sub) - 1px); font-family: var(--Satoshi-font); color: var(--Tertiary-Txt-color); line-height: 1.5;}
.repoInfo{padding-left: 3em; margin-top: 2.25em;}
.repoInfo:first{margin-top: 1.12em !important;}
.repoInfo > h4{font-size: calc(var(--body-sub) - 1px); font-family: var(--Tertiary-font); color: var(--Tertiary-Txt-color); margin-bottom: 10px;}
.repoInfo > ul, .psPostBlog > ul{padding-left: 2em;}
.repoInfo > ul li, .psPostBlog > ul li{font-size: calc(var(--body-sub) - 1px); font-family: var(--Tertiary-font); color: var(--Tertiary-Txt-color); line-height: 1.5; list-style-type: disc;} 


.psAppForm{background: rgba(0, 135, 66, 0.06); padding: 2.25em;}
.psAppFormHead > p{font-size: calc(var(--body) - 1px); font-family: var(--body); text-align: center;}
.psAppFormTitle{margin-bottom: 11px;}
.psAppFormBox{max-width: 731px; margin: auto; padding-top: 2.8em;}
.psAppFormBox form ul{gap: 1.25em;}
.psAppFormBox form ul.d-flex li.col-50 {width: calc(50% - 0.63em);}
.psAppFormBox form ul li .contactContFrmFields input::placeholder{color: #565656; font-family: var(--Satoshi-font); font-size: calc(var(--body-sub) - 1px); line-height: 1.25;}
.psFileUpload{align-items: center;}
.expYear select{color: #565656; font-size: calc(var(--body-sub) - 1px);}
.psFileUpload > label{color: #565656; font-size: calc(var(--body-sub) - 1px);}
.fileSelect{max-width: 191px; width: 100%;}
.fileSelect input{display: none;}
.fileSelect label img{width: 15px;}
.contactContFrmFields .fileSelect label{font-size:calc(var(--body-sub) - 3px);color:var(--Black);background:rgba(255,255,255,0.6);border-radius:10px;padding:1.2285em;outline:none;border:1px solid #D6D6D6;width:100%;resize:none;font-family:var(--Satoshi-font);}
.upFileName{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: calc(var(--body-sub) - 1px); color: #565656;}






/* cars parts */
.psProductBox{display: flex; justify-content: center;}
.productPartImg{max-width: 923px;}
.productPortfolioCont{margin-bottom: 7.75em;}
.carSkeletonBox{inset: 0; top: auto; width: 78%; margin: auto;}
.carSolidImg{top: 0; transition: all 0.3s ease;}
.carPartsVisual{top: 15%;}
.carPartsVisual > ul{display: flex; flex-direction: column; gap: 3em; padding-left: 9px;}
.btnRow1 {width: 62%; margin: auto; display: flex; justify-content: space-between;}
.btnRow2 {width: 75%; margin: auto; display: flex; justify-content: space-between;}
.btnRow3 {width: 84%; margin: auto; display: flex; justify-content: space-between;}
.btnRow4 {width: 88%; margin: auto; display: flex; justify-content: space-between;}
.btnBox > a{color: #fff; display: flex; gap: 10px; align-items: center        ;}
.btnBox > a > .partBullet{width: 25px; height: 25px; border-radius: 50%; background: rgba(0, 0, 0, 0.71);
box-shadow: inset 0px 39px 56px rgba(27, 24, 24, 0.5), inset 0px 7px 11px #FFFFFF, inset 0px -82px 68px rgba(43, 101, 72, 0.3), inset 0px 98px 100px rgba(0, 198, 253, 0.3), inset 0px 4px 18px rgba(8, 59, 88, 0.3), inset 0px 1px 40px rgba(24, 76, 105, 0.2); backdrop-filter: blur(50px); position: relative; z-index: 999;}
.partNameLft{position: absolute; right: 140%; white-space: nowrap; text-align: left;}
.partNameRgt{position: absolute; left: 140%; white-space: nowrap; text-align: right;}

.carPartBox{width: 158px; height: 158px; display: flex; justify-content: center; align-items: center; opacity: 0; visibility: hidden; transition: all 0.3s ease;}
.carPartBox::after{content: ""; position: absolute; width: 158px; height: 158px; background: rgba(255, 255, 255, 0.01);
opacity: 0.3; box-shadow: inset 0px 39px 56px rgba(255, 255, 255, 0.5), inset 0px 7px 11px #FFFFFF, inset 0px -82px 68px rgba(14, 78, 114, 0.3), inset 0px 98px 100px rgba(0, 161, 253, 0.3), inset 0px 4px 18px rgba(8, 59, 88, 0.3), inset 0px 1px 40px rgba(13, 137, 207, 0.2); backdrop-filter: blur(50px); border-radius: 50%; }
.carPartBox img{width: 112px; position: relative; z-index: 4;}

.btnBox:hover .carPartBox{opacity: 1; visibility: visible;}
.btnBox:hover .partBullet{background: rgba(0, 0, 0, 0.71);
box-shadow: inset 0px 7px 11px #68F3F8, inset 0px -82px 68px #2B8C5B, inset 0px 98px 100px rgba(0, 198, 253, 0.3), inset 0px 4px 18px rgba(93, 179, 227, 0.7), inset 0px 1px 40px #97D9FF;}

/* right side part */
.crPart1Btn{top: -132px; right: 130px;}
.crPart3Btn{top: -104px; right: 150px;}
.crPart5Btn{top: -104px; right: 100px;}

/* left side part */
.crPart2Btn{top: -132px; left: 130px;}
.crPart4Btn{top: -104px; left: 150px;}
.crPart6Btn{top: -104px; left: 150px;}
.crPart7Btn{bottom: -170px; left: -195px;}
.crPart8Btn{bottom: -170px; left: 95px;}

.partArrow{transition: all 0.3s ease; opacity: 0; visibility: hidden;z-index: 5;}
.crPart11Btn .partArrow{width:258px;left:5px;top:5px;}
.crPart22Btn .partArrow{width:170px;right: 5px;top:5px;}
.crPart33Btn .partArrow{width:400px;left: 5px;top: 10px;}
.crPart44Btn .partArrow{width:240px;right: 5px;top: 10px;}
.crPart55Btn .partArrow{width: 450px;left: 5px;top: 5px;}
.crPart66Btn .partArrow{width: 310px;right: 5px;top: 5px;}
.crPart77Btn .partArrow{width: 300px;left: 5px;top: 10px;}
.crPart88Btn .partArrow{width: 350px;right: 5px;top: 10px;}



.crPart1.carPartsImg{top:54%;left:42%;transition:all 0.3s ease;}
.crPart2.carPartsImg{top: 52%; left: 56%; transition: all 0.3s ease;}
.crPart3.carPartsImg{bottom:30%;left:56%;transition: all 0.3s ease;}
.crPart4.carPartsImg{top: 51%; left: 57%; transition: all 0.3s ease;}
.crPart5.carPartsImg{top:48%;left:55%;width:15%;transition:all 0.3s ease;}
.crPart6.carPartsImg{top: 57%; left: 48%; transition: all 0.3s ease;}
.crPart7.carPartsImg{top: 24%; left: 35%; transition: all 0.3s ease;}
.crPart8.carPartsImg{top: 52%; left: 57%; transition: all 0.3s ease;}


.carPlatformStage{position:relative;}